langchain
langchain_openai
langchain_core
langchain_community
streamlit
langchain_ollama

langserve
fastapi
uvicorn
sse_starlette

langchain_text_splitters
langchain_chroma
bs4
pypdf
faiss-cpu


arxiv
wikipedia

langchainhub
langchain_huggingface